@model IEnumerable<AssemblyInfoModel>

@{
    Layout = "_AdminLayout";

    //page title
    ViewBag.PageTitle = T("Admin.NopStation.Core.AssemblyInfo").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("NopStationCore.AssemblyInfo");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.NopStation.Core.AssemblyInfo")
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        @foreach (var item in Model)
                        {
                            <span>@item.FileName @item.Version</span><br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
